#toc_container.on {
    & > #show_toc {
        right: 247px;
    }
    & > #toc {
        right: 0px;
    }
}

#show_toc {
    border: 3px solid black;
    border-right-color: gainsboro;
    border-radius: 25px 0 0 25px;

    position: fixed;
    top: 25px;
    right: 0px;

    background-color: gainsboro;

    width: 40px;
    height: 75px;
    z-index: 999;

    transition: right 0.5s;

    &:hover{
        border-color: gray;
        border-right-color: lightgray;
        background-color: lightgray;
    }
}

#toc {
    border-left: 3px solid black;

    position: fixed;
    top: 0;
    right: -250px;

    background-color: gainsboro;

    box-sizing: border-box;
    width: 250px;
    height: 100vh;
    z-index: 990;
    overflow-y: scroll;

    transition: right 0.5s;

    font-size: 13px;
}

#toc li > * {
    &:first-child {
        font-weight: bold;
        color: linkText;
        cursor: pointer;
        &:hover {
            text-decoration: underline linkText;
        }
        &:active {
            color: activeText;
            text-decoration: underline activeText;
        }
    }
    &:last-child {
        font-family: monospace;
        font-style: italic;
    }
}

/* ================== */

#page_breadcrumbs.hide *, #parent_bottom.hide .mu, .comment_bottom.hide .mu {
    visibility: hidden
}

/* ================== */

body {
    padding: 5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page_header {
    background: gray;

    width: 100%;
    height: 5em;
    box-sizing: border-box;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
}

#page_breadcrumbs {
    border-width: 0 1px;
    border-style: solid;
    border-color: gray;

    padding: 0.5em 0.5em 0 0.5em;

    background: lightgray;

    font-size: 0.8em;
    color: #444;
}

#page_body {
    border: 1px solid gray;
    border-top: none;

    padding: 0.5em 1em 0 1em;

    background: lightgray;

    width: 100%;
    box-sizing: border-box;
}

/* ================== */

#page_header_logo {
    margin: 0.5em 0 0 0.5em;
}

#page_header_buttons {
    margin-left: 0.5em;
    
    display: flex;
    flex-direction: row;
}

#page_header_buttons .button {
    border-width: 2px 1px;
    border-style: solid;
    border-color: gray;

    padding: 0.5em;

    background: lightgray;

    height: 100%;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.85em;
    text-decoration: none;
    color: black;

    cursor: pointer;
    user-select: none;

    align-self: flex-end;
    display: flex;
    align-items: center;
}

#page_header_buttons .button:hover {
    background: darkgray;
}

#page_header_buttons  .button:active {
    background: white;
}

/* ================== */

#parent_contain {
    margin-bottom: 1em;

    padding: 0.5em 1em 1em 1em;

    background: darkgray;

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.comment {
    border-top: 1px solid gray;

    padding: 1em 3em;

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

@keyframes Flash {from {background-color: orange}}
.flash {animation: 1s linear 1 none Flash}

#parent_top, .comment_top {
    margin-bottom: 0.5em;

    width: 100%;

    display: flex;
    flex-direction: row;
}

.comment_top {
    border: 0.75em solid darkgray;

    background: darkgray;

    box-sizing: border-box;
}

#parent_pfp, .comment_pfp {

    width: 3em;
    height: 3em;
}

#parent_poster, .comment_poster {
    margin: auto 1em auto 0.5em;

    font-weight: bold;

    align-self: flex-end;
}

#parent_revisions, .comment_revisions {
    margin: auto 1em auto auto;

    align-self: flex-end;
}

#parent_kudos, .comment_kudos {
    margin: auto 0;

    align-self: flex-end;

    text-align: center;
}

#parent_revisions, .comment_revisions {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#parent_title {
    margin-bottom: 0.25em;

    font-weight: bold;
    font-size: 2em;
}

#parent_content, .comment_content {
    margin-bottom: 0.5em;
}

#parent_content {
    border-top: 1px solid gray;
}

#parent_bottom, .comment_bottom {
    font-size: 0.75em;
    color: #444
}

/* ================== */
